<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「おいしいを、囲もう」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      「おいしい」を、囲もう。
    </h2>
    <p class='service-explain'>
      離れた場所にいても、同じおつまみを食べよう。
    </p>
    <p class='service-explain'>
      kakomoは、オンライン飲み会のためのコミュニケーションフード宅配サービスです。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「おいしいを、囲もう」帯部分  %>

  <%# 「Kakomoが届けたいこと」部分 %>
  <div class='selling-point-contents'>
    <h2 class='title'>
      Kakomoが届けたいこと
    </h2>
    <ul class='point-lists'>
      <li class='list'>
        <%= image_tag "kakomo-snaq03.jpg", class:"list-pict" %>
        <h3 class='point-list-text'>
          <span class='point-list-blue-text'>「おいしい」共通体験</span>
        </h3>
        <p class='point-list-description'>
          離れた場所にいても、同じおつまみを囲めば従来の飲み会のような一体感が生まれます。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "kakomo-snaq01.jpg", class:"list-pict" %>
        <h3 class='point-list-text'>
          <span class='point-list-blue-text'>おつまみ診断</span>
        </h3>
        <p class='point-list-description'>
          お好きな料理や飲み会のムードを答えるだけ。ぴったりなおつまみを提案します。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "kakomo-snaq07.jpg", class:"list-pict" %>
        <h3 class='point-list-text'>
          <span class='point-list-blue-text'>好きな場所にお届け</span>
        </h3>
        <p class='point-list-description'>
          ご自宅やお仕事場のポストにおつまみセットをお届け。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "kakomo-snaq04.jpg", class:"list-pict" %>
        <h3 class='point-list-text'>
          <span class='point-list-blue-text'>お好みにアレンジ</span>
        </h3>
        <p class='point-list-description'>
          アレルギー成分などご指定ください。一部の方のみ抜くことも可能です。
        </p>
      </li>
    </ul>
  </div>
  <%# /「Kakomoが届けたいこと」 %>

  <%# 「おつまみに特化した宅配サービス」帯部分 %>
  <div class='ad-contents'>
    <p class='ad-explain'>
      Kakomoはおつまみに特化した宅配サービスです。
    </p>
    <p class='ad-explain'>
      今夜は画面の向こうのあの人と、一緒につまみましょう。
    </p>
    <p class='ad-explain'>
      いつかまた、乾杯できることを楽しみに。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /「おつまみに特化した宅配サービス」帯部分 %>

  <%# KAKOMOで商品が届くまで %>
  <div class='feature-contents'>
    <h2 class='title'>
      Kakomoで商品が届くまで
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "kakomo-howto01.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          おつまみ診断
        </h3>
        <p class='feature-list-description'>
          食の好みや除外したい食材などの情報をご入力ください。ご購入手続きは診断の後にございます。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "kakomo-howto02.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          ポストにお届け
        </h3>
        <p class='feature-list-description'>
          ご自宅やお仕事場のポストに商品をお届け。置き配などのご指定も承ります。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "kakomo-howto03.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          飲み会スタート
        </h3>
        <p class='feature-list-description'>
          おつまみを開いて、おうちのお酒で乾杯！（お酒はセットに含まれません）
        </p>
      </li>
    </ul>
  </div>
  <%# /KAKOMOで商品が届くまで %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>

          <%# 商品が売れていればsold outを表示しましょう %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "商品名" %>
          </h3>
          <div class='item-price'>
            <span><%= "販売価格" %>円<br><%= '配送料負担' %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>どんな飲み会にしたい？</span>
  <%= image_tag 'icon-dish.jpg' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>